*,
*::before,
*::after{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*TODO  READ: In this code you find comented border, I use it to find out the full area of a item */


/*TODO  READ: In this code i use some special symbol like (!, *, ?, TODO) this symbol make comment more beautiful and easy to see, if run this code on Vs code then install "BETTER COMMENT" extension to see comment better, Thank you  */

body{

  font-family: "Open Sans", sans-serif;
  

}

/** hero section/ navigation design */

/** side text design section */

.hero_area{

  height: 52.313rem;
  width: 100rem;
  margin: 0px auto;
  background: rgb(243, 248, 255);
  position: relative;
  overflow: hidden;

}

.hero_area .rotate_text{

  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 5.5rem;
  top: 2%;
  opacity: 0.2;
  left: 1%;
  letter-spacing: 1rem;
  font-family: "Playfair Display", serif;
 
}

.hero_area nav{

  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100rem;

}

/** logo text design section */

.hero_area nav h1{

  font-size: 3rem;
  margin-left: 9%;
}

.hero_area nav h1 span{
  
  color: #2290FF;
}

/** nav button design section */

.hero_area nav ul{

  display: flex;
  margin-right: 5rem;
  list-style-type: none;
  align-items: baseline;
}

.hero_area nav ul li{

  padding: 0.7rem 1rem;
  font-size: small;
  font-weight: bold;
  border-radius: 0.3rem;
  
}

.hero_area nav ul li a{
  
  text-decoration: none;
  color: rgb(71, 71, 71);
}

.hero_area nav ul li:hover{

  background-color: #2290FF;
  
}

.hero_area nav ul li:hover a{

  color: rgb(255, 255, 255);  
  
}

.hero_area nav ul button{

  padding: 0.7rem 1rem;
  border: none;
  color: black;
  background: none;
}

.hero_area nav ul button a{
  
  text-decoration: none;
  font-weight: bold;
  /*? background-color: rgb(243, 248, 255); */
  
}


.hero_area nav ul button:hover{
  
  background-color: #2290FF;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;

}


.hero_area nav ul button:hover a{
  
  color: rgb(255, 255, 255);

}
/*! nav section end*/


/** hero section main text & button */


.hero_area .hero_text_image_container{

  height: 46.5rem;
  width: 100rem;
  display: flex;
  
}


.hero_area .hero_text_section{

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 40%;
  margin: 0 0 0 9%;
  justify-content: center;
}

.hero_area .hero_text_section h3{

  font-size: 2.813rem;
  font-weight: 400;
}

.hero_area .hero_text_section h2{

  font-size: 5.313rem;
}

.hero_area .hero_text_section p{

  font-size: 1.125rem;
  width: 40.666rem;
}

.hero_area .hero_text_section button{

  padding: 0.8rem 1rem;
  border: 1px solid #2290FF;
  background: none;
  color: #2290FF;
  border-radius: 0.2rem;
  margin: 1rem 0.8rem 0 0;
  font-weight: bolder;
  font-size: 1rem;
}


.hero_area .hero_text_section button:hover{

  background-color: #2290FF;
  color: white;
  cursor: pointer;

}


/** image customization */


.hero_area .hero_image_section{

  height: 46.1rem;
  width: 60%;
  position: relative;
  
}

.hero_text_image_container .glow{

  width: 120%;
  height: auto;
  position: absolute;
  bottom: 2%;
  right: 18%;
  
}


/** main area start */


main{

  width: 60rem;
  height: 75rem;


  /*? border: 2px solid red; */

}


main .about_me{

  /*? border: 2px solid lime; */
  margin: 4rem;
  padding: 4rem;
  background-color: rgb(243, 248, 255);
  border-radius: 1rem;

}


main .about_me .text_container{

  /*? border: 2px solid rgb(255, 217, 0); */

  background-color: white; 
  text-align: center;
  border-radius: 1rem;
  padding: 1.5rem;


}


main .about_me .text_container h3{

  margin-bottom: 2.7rem;
  font-size: 2rem;

}


main .about_me .text_container p{

  margin-bottom: 2.7rem;

}


main .about_me .text_container table{

  display: flex;
  justify-content: center;

}


main .about_me .text_container table tr th{

  padding: 0 1rem;

}

/** skills section start */


main .my_skills{

  /** border: 2px solid red; */
  height: 14rem;
  padding: 2rem;
}


main .my_skills .text_area{

  /** border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  
}


main .my_skills .text_area h3{

  padding: 0 0 1rem 0;
  font-size: 2rem;
}


main .my_skills .text_area p{

  /** border: 2px solid lime; */
  width: 53rem;
  text-align: center;
  line-height: 1.8rem;
}

main .my_skills .skill_sets_area{

  /** border: 2px solid rgb(255, 0, 221); */
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  margin-bottom: 10rem;
}

main .my_skills .skills{

  line-height: 1.5rem;
  padding: 1rem;
  font-size: 0.9rem;
}

main .my_skills .skills h4{

  font-size: 1rem;
  padding: 0 0 1rem 0;
}

main .my_skills .skills i{

  font-size: 1.8rem;
  padding: 0 0 1rem 0;
}

/*! main content end */


/** footer section start */


footer{

  /* border: 2px solid red; */
  height: 40rem;
  width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(243, 248, 255);
  margin: 0px auto;
}


footer .foot_social_area{

  /* border: 2px solid rgb(60, 255, 0); */
  width: 45%;
  margin-left: 5rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


footer .foot_social_area h3{

  font-size: 2.188rem;
  
}


footer .foot_social_area i{

  font-size: 1.5rem;
  padding-right: 0.6rem;
  color: #2290FF;
  
}


footer .foot_foram_area{

  /* border: 2px solid blue; */
  width: 45%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  padding:0 0 0 2rem;
}


footer .foot_foram_area form input{
  
  display: block;
  margin-bottom: 1rem;
  padding: 0.7rem;
  width: 70%;
  border-radius: 0.8rem;
  border: none;
  
}


footer .foot_foram_area form textarea{
  
  width: 70%;
  height: 8rem;
  border-radius: 0.8rem;
  border: none;
}

footer .foot_foram_area button{
  
  width: 7rem;
  margin: 2rem 0 0 0;
  padding: 0.7rem 2rem;
  border: 1px solid #2290FF;
  border-radius: 0.4rem;
  background-color: aliceblue;
}

footer .foot_foram_area button:hover{
  
  
  background-color: #2290FF;
  color: white;
}

footer .foot_foram_area h3{
  
  margin-bottom: 1.5rem;
  font-size: 2.188rem;

}

